<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/favicon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/main.css">
  {% for style in css %}
    <link rel="stylesheet" href="{{ style }}">
  {% endfor %}
  <title>{{ title }}</title>
</head>
<body>
  {{ content | safe }}
  <footer>
    <ul>
      <li><a href="https://riceband.bandcamp.com/" title="rice Bandcamp" target="_blank">
        <img src="/images/icons8-bandcamp-button.svg" alt="rice Bandcamp"></a></li>
      <li><a href="https://www.instagram.com/rice.band/" title="rice Instagram" target="_blank">
        <img src="/images/icons8-instagram.svg" alt="rice Instagram"></a></li>
      <li><a href="https://open.spotify.com/artist/5u0ViylYGaSNj65dV3RoHY" title="rice on Spotify" target="_blank">
        <img src="/images/icons8-spotify.svg" alt="rice on Spotify"></a></li>
      <li><a href="https://music.apple.com/us/artist/rice/1750594069" title="rice on Apple Music" target="_blank">
        <img src="/images/icons8-apple-music.svg" alt="rice on Apple Music"></a></li>
    </ul>
    <p class="copyright">© 2024 rice</p>
  </footer>
</body>
</html>