---
layout: base.njk
eleventyComputed:
  title: "{{ title }} - rice.band"
---

<header>
  <nav class="box-link" id="arrow-back">
    <a href="/" title="home" class="skew">
      <span class="material-symbols-outlined">arrow_back</span>
    </a>
  </nav>
</header>
{{ content | safe }}