<div class="show">
  <p><strong><time datetime="{{ show.date }}">{{ show.date | formatDate }}</time> @ {{ show.venue }}</strong></p>
  <p class="description"><span class="material-symbols-outlined">subdirectory_arrow_right</span> {{ show.description | safe }}</p>
</div>