html {
  font-size: 20px;
  line-height: 1.4;
  font-family: 'Fira Mono', monospace;
  cursor: crosshair;
  color: #ffecd6;
  background-color: #0d2b45;
}

html,
html * {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#app {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#app > div {
  flex: 1 28px;
  text-align: center;
}

#title {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  opacity: 0;
}
