body {
  margin: 0 auto;
  max-width: 50rem;
  padding: 1rem 1rem 2rem;
}

main {
  margin-bottom: 4rem;
}

h1,
h2 {
  font-size: calc(2rem + 0.5vw);
  background-color: var(--med-blue);
  box-shadow: 5px 5px var(--pink);
  border: 2px solid var(--white);
  display: block;
  padding-inline: 1.5rem;
  font-weight: 800;
  width: fit-content;
}

h1 {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  margin-inline: auto;
}

h2 {
  font-size: calc(1.6rem + 0.4vw);
  border: none;
  border-left: 0.5rem solid var(--pink);
  box-shadow: none;
  margin-top: 2.5rem;
}

main p,
main li,
main figcaption {
  font-size: calc(1rem + 0.25vw);
  font-family: 'Libre Baskerville', serif;
}

::selection {
  background-color: var(--purple);
}

nav {
  display: inline-block;
}

strong {
  color: var(--gold);
}

.full-img {
  max-width: calc(100% - 8px);
  border: 4px solid var(--pink)
}

figure {
  margin-inline: 0;
  margin-block: 1rem;
}

figcaption {
  text-align: center;
  font-style: italic;
}

/* || Shows */

.show {
  margin-block: 2rem;
}

.show > p {
  margin-block: 0.2rem;
}
.show .description {
  margin-left: 1.5rem;
}

.show .description::before {
  content: '↳ ';
  position: relative;
  bottom: 0.25rem;
}