---
title: Press
layout: nav.njk
css: [
  "/styles/about.css"
]
---

<main>
  <h1><span>Press for <i>rice</i></span></h1>

  <h2><span>2025</span></h2>
  
  <ul>
    <li>Featured on Free Form Freakout's <a href="https://www.freeformfreakout.com/fffoxy-podcast-262-bumpy-feature/" target="_blank">FFFoxy Podcast #262: Bumpy feature</a> (2025-07-27)</li>
  </ul>

  <h2><span>2024</span></h2>

  <ul>
    <li>Featured on <a href="https://blogfiles.wfmu.org/BT/Airplay_Lists/2024/2024-10-08.html" target="_blank">WFMU's Heavily Played Records list</a> (2024-10-08)</li>
    <ul>
      <li>Listed #1 on "Cassette Top Ten"</li>
      <li>Listed on "Heavy Airplay"</li>
    </ul>
    <li>Featured on Free Form Freakout's <a href="https://www.freeformfreakout.com/fffoxy-podcast-248/" target="_blank">FFFoxy Podcast #248</a> (2024-09-15)</li>
    <ul>
      <li>"This trio seems to have a good grasp of restraint and free-flowing compositional development."</li>
    </ul>
  </ul>
</main>